{% extends "base.html" %}{% load cms_tags menu_tags djangocms_alias_tags thumbnail static fontawesome_5 %}

{% block content %}
{% fontawesome_5_static %}
<main>
  <div class="container">
    <div class="row">
      <div class="col col-6-lg mb-3">
	<div id="carousel-{{forloop.counter0}}"
	     class="carousel slide carousel-dark"
	     data-bs-interval="false">
	  <div class="carousel-inner">
	    {% for i in object.images %}
	    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
	      <div class="d-flex" style="width:650px; height:650px;justify-content: center; align-items: center;">
		<img class="" src="{% thumbnail i 650x650 subject_location=i.subject_location %}" >
	      </div>
	    </div>
	    {% endfor %}
	  </div>
	  {% if object.images|length > 1 %}
	  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	  {% endif %}
	</div>
      </div>
      <div class="col col-6-lg mb-3">
	<div class="card h-100">
	  <div class="card-body">
	    <h2 class="card-title display-5">{{ object.title }}, {{ object.creation_year }}</h2>
	    <h6 class="card-subtitle mt-1 mb-2 text-muted">
	      {{ object.characterisation_str }}
	    </h6>
	    <div class="card-subtitle mb-4 text-muted small">
	      {{ object.dimension_str }}
	    </div>
	    <p class="card-text">{{ object.description }}
	    </p>
	  </div>
	  <ul class="list-group list-group-flush">

	    {% if already_bid %}
	    <li class="list-group-item">
	      <div class="alert alert-success mt-3">
		Thank you for having bid on this object. We will contact you soon.
	      </div>
	    </li>
	    {% endif %}
	    
            <li class="list-group-item d-flex justify-content-between align-middle">
	      <span class="text-muted align-middle">{% if object.available %}{% fa5_icon 'check' 'fa' %} available{% else %}{% fa5_icon 'lock' 'fa' %} not available{% endif %}</span>
	      <a href="#bid"
		 id="bid-form-toggle"
		 data-bs-toggle="collapse"
		 role="button"
		 aria-expanded="false"
		 aria-controls="bid"
		 class="btn btn-sm btn-outline-success {% if not object.available or already_bid %}disabled{% endif %}">Place bid</a>
	    </li>

	    {% if object.available and not already_bid %}
	    <li class="list-group-item collapse" id="bid">
	      <form action="{% url 'estateobjects:place_bid' object.id  %}"
		    method="POST">
		{% csrf_token %}
		{{ bid_form.as_div }}
		<button type="submit"
			class="ml-auto mt-3 mb-2 btn btn-success" />Place bid</input>
	      </form>
	    </li>
	    {% endif %}
	  </ul>
	</div>
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
  {% static_alias "Footer" %}
</footer>
<script> 
  if (location.hash !== null && location.hash !== "") { 
      let el = document.querySelector(location.hash);
      if (el) {
	  el.classList.remove("collapse");
	  let btn = document.getElementById("bid-form-toggle");
	  btn.remove();
      }
  } 
</script> 
{% endblock %}
