{% extends "base.html" %}{% load cms_tags menu_tags thumbnail static %}

{% block content %}
<main>
<div class="container">
<div class="row">
  <div class="col col-6">
    <div id="carousel-{{forloop.counter0}}"
	 class="carousel slide carousel-dark"
	 data-bs-interval="false">
      <div class="carousel-inner">
	{% for i in object.images %}
	<div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
	  <div class="d-flex" style="width:650px; height:650px;justify-content: center; align-items: center;">
	    <img class="" src="{% thumbnail i 650x650 subject_location=i.subject_location %}" >
	  </div>
	</div>
	{% endfor %}
      </div>
      {% if object.images|length > 1 %}
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
      </button>
      {% endif %}
    </div>
  </div>
  <div class="col col-6">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title">{{ object.title }}</p>
	<p class="card-text">{{ object.description }}</p>
      </div>
    </div>
  </div>
</div>
</div>
</main>
<footer>
  {% static_placeholder "Footer" %}
</footer>
{% endblock %}
