{% extends "base.html" %}{% load i18n cms_tags menu_tags djangocms_alias_tags thumbnail static fontawesome_5 %}

{% block content %}
{% fontawesome_5_static %}
<main>
  {% if messages %}
  <div class="fixed-top container">
    <div class="row messages">
      <div class="col-lg-4 offset-lg-4"
	   style="top: 5px">
      {% for message in messages %}
      <div{% if message.tags %}
	     class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}
	     role="alert">
	{{ message }}
	<button type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"></button>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
	<div class="row d-flex justify-content-end">
	  <div class="col">
	    {% if prev_object_id %}
	    <a class="btn btn-outline-secondary btn-small" href="{% url 'estateobjects:detail' prev_object_id  %}">&lt; {% translate "previous" %}</a>
	    {% endif %}
	  </div>
	  <div class="col d-flex justify-content-end">
	    {% if next_object_id %}
	    <a class="btn btn-outline-secondary btn-small" href="{% url 'estateobjects:detail' next_object_id  %}">{% translate "next" %} &gt;</a>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
    
    <div class="row">
      <div class="col col-6-lg mb-3">
	<div id="carousel-{{forloop.counter0}}"
	     class="carousel slide carousel-dark"
	     data-bs-interval="false">
	  <div class="carousel-inner">
	    {% for i in object.images %}
	    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
	      <div class="d-flex" style="justify-content: center; align-items: center;">
		<a href="{{ i.url }}"
		   class="lightbox-toggle"
		   data-gallery="gallery">
		  <img src="{% thumbnail i 650x650 subject_location=i.subject_location %}">
		</a>
	      </div>
	    </div>
	    {% endfor %}
	  </div>
	  {% if object.images|length > 1 %}
	  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">{% trans "Previous" %}</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{forloop.counter0}}" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">{% trans "Next" %}</span>
	  </button>
	  {% endif %}
	</div>
      </div>
      <div class="col col-6-lg mb-3">
	{% render_model_block object %}
	<div class="card h-100">
	  <div class="card-body">
	    <h2 class="card-title display-6"><em>{{ object.title }}</em>{{ object.creation_date_str }}</h2>
	    <h6 class="card-subtitle mt-1 mb-2 text-muted">
	      {{ object.characterisation_str }}
	    </h6>
	    <div class="card-subtitle mb-1 text-muted small">
	      {{ object.dimension_str }}
	    </div>
	    <div class="card-subtitle mb-4 text-muted small">
	      {% trans "Collection id: " %}{{ object.collection_id }}
	    </div>
	    <p class="card-text">{{ object.description }}
	    </p>
	  </div>
	  <ul class="list-group list-group-flush">

	    {% if already_bid %}
	    <li class="list-group-item">
	      <div class="alert alert-success mt-3">
		{% trans "Thank you for having bid on this object. We will contact you soon." %}
	      </div>
	    </li>
	    {% endif %}
	    
            <li class="list-group-item d-flex justify-content-between align-items-center">
	      <span class="text-muted align-middle">{% if object.available %}{% fa5_icon 'check' 'fa' %} {%trans "available" %}{% else %}{% fa5_icon 'lock' 'fa' %} {% trans "not available" %}{% endif %}</span>
	      <a href="#bid"
		 id="bid-form-toggle"
		 data-bs-toggle="collapse"
		 role="button"
		 aria-expanded="false"
		 aria-controls="bid"
		 class="btn btn-sm btn-outline-success {% if not object.available or already_bid %}disabled{% endif %}">{% trans "I'm interested" %}</a>
	    </li>

	    {% if object.available and not already_bid %}
	    <li class="list-group-item collapse" id="bid">
	      <form action="{% url 'estateobjects:place_bid' object.id  %}"
		    method="POST">
		{% csrf_token %}
		{{ bid_form.as_div }}
		<button type="submit"
			class="ml-auto mt-3 mb-2 btn btn-success" />{% fa5_icon 'paper-plane' 'fa' %}&nbsp;&nbsp;{% trans "Notify interest" %}</input>
	      </form>
	    </li>
	    {% endif %}
	  </ul>
	</div>
        {% endrender_model_block %}
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
  {% static_alias "Footer" %}
</footer>
<script> 
  if (location.hash !== null && location.hash !== "") { 
      let el = document.querySelector(location.hash);
      if (el) {
	  el.classList.remove("collapse");
	  let btn = document.getElementById("bid-form-toggle");
	  btn.remove();
      }
  }

  const options = {
      keyboard: true,
      size: 'fullscreen',
      constrain: true,
  };

  document.querySelectorAll('.lightbox-toggle').forEach((el) => el.addEventListener('click', (e) => {
      e.preventDefault();
      const lightbox = new Lightbox(el, options);
      lightbox.show();
  }));
</script>
{% endblock %}
