{% load cms_tags thumbnail i18n static fontawesome_5 %}

{% fontawesome_5_static %} 

<div class="row imagerow row-cols-lg-4">
{% for object in object_list %}
  {% render_model_block object %}
  <div class="col mb-4">
    <div class="card h-100">
      <a href={% url 'estateobjects:detail' object.id %}>
	{% if object.image_main %}
	{% thumbnail object.image_main 333x500 bg_color="#aaa" subject_location=object.image_main.subject_location as thumb %}
	<img src="{{ thumb.url }}"
	     class="card-img-top"
	     style="object-fit: contain;"
	     alt="image of {{ object.title }}">
	{% else %}
	<img src="{% static 'estateobjects/images/image-missing.jpg' %}"
	     class="card-img-top"
	     style="object-fit: contain;"
	     alt="image of {{ object.title }}">
	{% endif %}
      </a>
      <div class="card-body d-flex flex-column">
	<h5 class="card-title"><em>{{ object.title }}</em>{{ object.creation_date_str }}</p>
        <h6 class="card-subtitle mb-2 text-muted">
	  {{ object.charaterisation_str }}
	</h6>
	<p class="card-text flex-fill">{{ object.description }}</p>
        <a href="{% url 'estateobjects:detail' object.id %}"
	   class="card-link">{% trans "See details" %}</a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center px-2">
	  <span class="text-muted small align-middle">{% if object.available %}{% fa5_icon 'check' 'fa' %}&nbsp;{% trans "available" %}{% else %}{% fa5_icon 'lock' 'fa' %} {% trans "not available" %}{% endif %}</span>
	  <a href="{% url 'estateobjects:detail' object.id %}#bid"
	     class="btn btn-sm {% if object.available %}btn-dark{% else %}btn-outline-secondary{% endif %} {% if not object.available %}disabled{% endif %}">{% trans "I'm interested" %}</a>
	</li>
      </ul>
    </div>
  </div>
  {% endrender_model_block %}
{% endfor %}
</div>
