{% load thumbnail i18n static fontawesome_5 %}

{% fontawesome_5_static %} 

<div class="row imagerow row-cols-lg-4">
{% for object in object_list %}
  <div class="col mb-4">
    <div class="card h-100">
      <a href={% url 'estateobjects:detail' object.id %}>
	{% if object.image_main %}
	<img src="{% thumbnail object.image_main 300x300 crop subject_location=object.image_main.subject_location %}" class="card-img-top" alt="orchid image">
	{% endif %}
      </a>
      <div class="card-body">
	<h5 class="card-title"><em>{{ object.title }}</em>{{ object.creation_date_str }}</p>
        <h6 class="card-subtitle mb-2 text-muted">
	  {{ object.charaterisation_str }}
	</h6>
	<p class="card-text">{{ object.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-middle">
	  <span class="text-muted align-middle">{% if object.available %}{% fa5_icon 'check' 'fa' %} {%trans "available" %}{% else %}{% fa5_icon 'lock' 'fa' %} {% trans "not available" %}{% endif %}</span>
	  <a href="{% url 'estateobjects:detail' object.id %}#bid"
	     class="btn btn-sm {% if object.available %}btn-dark{% else %}btn-outline-secondary{% endif %} {% if not object.available %}disabled{% endif %}">{% trans "I'm interested" %}</a>
	</li>
      </ul>
    </div>
  </div>
{% endfor %}
</div>
